.button {
    transition-duration: 0.4s;
}

.button {
    background-color: #61dafb; /* Green */
    border: none;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 10px;
    font-weight: 900;
}

.button:hover {

    background-color: #2b98b4;
    color: black;
}


.button:disabled {
    opacity: 0.3;

}